$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-backward-step: "\e906";
$icon-forward-step: "\e907";
$icon-arrow-rotate: "\e900";
$icon-pause: "\e901";
$icon-play: "\e902";
$icon-backward: "\e903";
$icon-forward: "\e904";
$icon-shuffle: "\e905";

